**1. Memulai Penggunaan Library Pandas**

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
import matplotlib.pyplot as plt

**2. Object Creation**

In [ ]:
s = pd.Series([1,3,5,np.nan,6,8])

In [ ]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [ ]:
dates = pd.date_range('20130101', periods=6)

In [ ]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [ ]:
df

                   A         B         C         D
2013-01-01  0.811368 -1.210013  0.004720 -1.214460
2013-01-02 -0.207422 -0.083313  0.420442  0.818432
2013-01-03  1.247803  1.718146 -0.447530 -0.481288
2013-01-04  1.137037 -0.872154  1.285899 -0.124620
2013-01-05  0.671479 -1.606472 -0.010401  0.318456
2013-01-06  1.920779 -0.151032  0.627145 -0.869041

In [ ]:
df2 = pd.DataFrame({ 'A' : 1., 'B' : pd.Timestamp('20130102'), 'C' : np.array([3] * 4,dtype='int32'), 'E' : pd.Categorical(["test","train","test","train"]), 'F' : 'foo' })

In [ ]:
df2

     A          B  C      E    F
0  1.0 2013-01-02  3   test  foo
1  1.0 2013-01-02  3  train  foo
2  1.0 2013-01-02  3   test  foo
3  1.0 2013-01-02  3  train  foo

In [ ]:
df2.dtypes

A           float64
B    datetime64[ns]
C             int32
E          category
F            object
dtype: object

**3. Viewing Data**

In [ ]:
df.head()

                   A         B         C         D
2013-01-01  0.811368 -1.210013  0.004720 -1.214460
2013-01-02 -0.207422 -0.083313  0.420442  0.818432
2013-01-03  1.247803  1.718146 -0.447530 -0.481288
2013-01-04  1.137037 -0.872154  1.285899 -0.124620
2013-01-05  0.671479 -1.606472 -0.010401  0.318456

In [ ]:
df.tail(3)

                   A         B         C         D
2013-01-04  1.137037 -0.872154  1.285899 -0.124620
2013-01-05  0.671479 -1.606472 -0.010401  0.318456
2013-01-06  1.920779 -0.151032  0.627145 -0.869041

In [ ]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [ ]:
df.values

array([[ 0.81136766, -1.21001332,  0.00472021, -1.21446025],
       [-0.2074221 , -0.08331343,  0.42044204,  0.81843195],
       [ 1.24780317,  1.71814611, -0.44752985, -0.48128799],
       [ 1.13703658, -0.87215377,  1.28589931, -0.12462034],
       [ 0.67147897, -1.60647243, -0.01040139,  0.31845557],
       [ 1.92077899, -0.1510318 ,  0.62714473, -0.86904148]])

In [ ]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.930174 -0.367473  0.313379 -0.258754
std    0.707127  1.181279  0.605771  0.754565
min   -0.207422 -1.606472 -0.447530 -1.214460
25%    0.706451 -1.125548 -0.006621 -0.772103
50%    0.974202 -0.511593  0.212581 -0.302954
75%    1.220112 -0.100243  0.575469  0.207687
max    1.920779  1.718146  1.285899  0.818432

In [ ]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.811368   -0.207422    1.247803    1.137037    0.671479    1.920779
B   -1.210013   -0.083313    1.718146   -0.872154   -1.606472   -0.151032
C    0.004720    0.420442   -0.447530    1.285899   -0.010401    0.627145
D   -1.214460    0.818432   -0.481288   -0.124620    0.318456   -0.869041

In [ ]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -1.214460  0.004720 -1.210013  0.811368
2013-01-02  0.818432  0.420442 -0.083313 -0.207422
2013-01-03 -0.481288 -0.447530  1.718146  1.247803
2013-01-04 -0.124620  1.285899 -0.872154  1.137037
2013-01-05  0.318456 -0.010401 -1.606472  0.671479
2013-01-06 -0.869041  0.627145 -0.151032  1.920779

In [ ]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-05  0.671479 -1.606472 -0.010401  0.318456
2013-01-01  0.811368 -1.210013  0.004720 -1.214460
2013-01-04  1.137037 -0.872154  1.285899 -0.124620
2013-01-06  1.920779 -0.151032  0.627145 -0.869041
2013-01-02 -0.207422 -0.083313  0.420442  0.818432
2013-01-03  1.247803  1.718146 -0.447530 -0.481288

**4. Selection**

In [ ]:
df['A']

2013-01-01    0.811368
2013-01-02   -0.207422
2013-01-03    1.247803
2013-01-04    1.137037
2013-01-05    0.671479
2013-01-06    1.920779
Freq: D, Name: A, dtype: float64

In [ ]:
df[0:3]

                   A         B         C         D
2013-01-01  0.811368 -1.210013  0.004720 -1.214460
2013-01-02 -0.207422 -0.083313  0.420442  0.818432
2013-01-03  1.247803  1.718146 -0.447530 -0.481288

In [ ]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02 -0.207422 -0.083313  0.420442  0.818432
2013-01-03  1.247803  1.718146 -0.447530 -0.481288
2013-01-04  1.137037 -0.872154  1.285899 -0.124620

In [ ]:
df.loc[dates[0]]

A    0.811368
B   -1.210013
C    0.004720
D   -1.214460
Name: 2013-01-01 00:00:00, dtype: float64

In [ ]:
df.loc[:,['A','B']]

                   A         B
2013-01-01  0.811368 -1.210013
2013-01-02 -0.207422 -0.083313
2013-01-03  1.247803  1.718146
2013-01-04  1.137037 -0.872154
2013-01-05  0.671479 -1.606472
2013-01-06  1.920779 -0.151032

In [ ]:
df.loc['20130102',['A','B']]

A   -0.207422
B   -0.083313
Name: 2013-01-02 00:00:00, dtype: float64

In [ ]:
df.loc[dates[0],'A']

0.811367664522461

In [ ]:
df.at[dates[0],'A']

0.811367664522461

In [ ]:
df.iloc[3]

A    1.137037
B   -0.872154
C    1.285899
D   -0.124620
Name: 2013-01-04 00:00:00, dtype: float64

In [ ]:
df.iloc[3:5,0:2]

                   A         B
2013-01-04  1.137037 -0.872154
2013-01-05  0.671479 -1.606472

In [ ]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02 -0.207422  0.420442
2013-01-03  1.247803 -0.447530
2013-01-05  0.671479 -0.010401

In [ ]:
df.iloc[1:3,:]

                   A         B         C         D
2013-01-02 -0.207422 -0.083313  0.420442  0.818432
2013-01-03  1.247803  1.718146 -0.447530 -0.481288

In [ ]:
df.iloc[:,1:3]

                   B         C
2013-01-01 -1.210013  0.004720
2013-01-02 -0.083313  0.420442
2013-01-03  1.718146 -0.447530
2013-01-04 -0.872154  1.285899
2013-01-05 -1.606472 -0.010401
2013-01-06 -0.151032  0.627145

In [ ]:
df.iloc[1,1]

-0.08331342690637449

In [ ]:
df.iat[1,1]

-0.08331342690637449

In [ ]:
df[df.A>0]

                   A         B         C         D
2013-01-01  0.811368 -1.210013  0.004720 -1.214460
2013-01-03  1.247803  1.718146 -0.447530 -0.481288
2013-01-04  1.137037 -0.872154  1.285899 -0.124620
2013-01-05  0.671479 -1.606472 -0.010401  0.318456
2013-01-06  1.920779 -0.151032  0.627145 -0.869041

In [ ]:
df[df>0]

                   A         B         C         D
2013-01-01  0.811368       NaN  0.004720       NaN
2013-01-02       NaN       NaN  0.420442  0.818432
2013-01-03  1.247803  1.718146       NaN       NaN
2013-01-04  1.137037       NaN  1.285899       NaN
2013-01-05  0.671479       NaN       NaN  0.318456
2013-01-06  1.920779       NaN  0.627145       NaN

In [ ]:
df2 = df.copy()

In [ ]:
df2['E'] = ['one', 'one','two','three','four','three' ]

In [ ]:
df2

                   A         B         C         D      E
2013-01-01  0.811368 -1.210013  0.004720 -1.214460    one
2013-01-02 -0.207422 -0.083313  0.420442  0.818432    one
2013-01-03  1.247803  1.718146 -0.447530 -0.481288    two
2013-01-04  1.137037 -0.872154  1.285899 -0.124620  three
2013-01-05  0.671479 -1.606472 -0.010401  0.318456   four
2013-01-06  1.920779 -0.151032  0.627145 -0.869041  three

In [ ]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2013-01-03  1.247803  1.718146 -0.447530 -0.481288   two
2013-01-05  0.671479 -1.606472 -0.010401  0.318456  four

In [ ]:
s1 = pd.Series([1,2,3,4,5,6], index = pd.date_range('20130102',periods=6))

In [ ]:
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [ ]:
df['F'] = s1

In [ ]:
df.at[dates[0],'A'] = 0

In [ ]:
df.iat[0,1] = 0

In [ ]:
df.loc[:,'D'] = np.array([5] * len(df))

In [ ]:
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000  0.004720  5  NaN
2013-01-02 -0.207422 -0.083313  0.420442  5  1.0
2013-01-03  1.247803  1.718146 -0.447530  5  2.0
2013-01-04  1.137037 -0.872154  1.285899  5  3.0
2013-01-05  0.671479 -1.606472 -0.010401  5  4.0
2013-01-06  1.920779 -0.151032  0.627145  5  5.0

In [ ]:
df2 = df.copy()

In [ ]:
df2[df2 > 0] = -df2

In [ ]:
df2

                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -0.004720 -5  NaN
2013-01-02 -0.207422 -0.083313 -0.420442 -5 -1.0
2013-01-03 -1.247803 -1.718146 -0.447530 -5 -2.0
2013-01-04 -1.137037 -0.872154 -1.285899 -5 -3.0
2013-01-05 -0.671479 -1.606472 -0.010401 -5 -4.0
2013-01-06 -1.920779 -0.151032 -0.627145 -5 -5.0